<div class="center jumbotron">
	<h1>MyCleaning</h1>

	<h2>Personal, scalable cleaning services.</h2>

	<%= link_to "Contact Us Now!", help_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="container">

	<h3>What is MyCleaning?</h3>
	<table class="table" >
		<tr align="center">
			<td><%= image_tag("flexible.png", :size => "100x100") %></td>
			<td><%= image_tag("scale.png", :size => "100x100") %></td>
			<td><%= image_tag("value.png", :size => "100x100") %></td>
		</tr>

		<tr class="table-head" align="center">
		    <td>Flexible</td>
		    <td>Scale</td>
		    <td>Value</td>
	  	</tr>
	  	
	  	<tr align="center">
		    <td class="col-md-3">
		    	Whether it's on a regular basis, daily or weekly, or just every now and then, we can arrange for care and uptake of your property.
		    </td>
	    
	    	<td class="col-md-3">
	    		From a single room to an entire house,we can clean, wash and make it look how guests expect it to.
	    	</td>
	    	<td class="col-md-3">
	    		We have cleaners who work on a casual and full time basis, and varying levels of service, so we can provide thebest package for your needs.
	    	</td>
	 	</tr>
	</table>
</div>

<div class="whitespace"></div>

<div class="container">

	<h3>How does it work?</h3>
	<h4>You provide us with some simple details, about what kind of room or property you need cleaning or maintaining, and we get back to you with the approximate costs.</h4>
	<table class="table" >
		<tr align="center">
			<td><%= image_tag("order.png", :size => "100x100") %></td>
			<td><%= image_tag("discuss.png", :size => "100x100") %></td>
			<td><%= image_tag("clean.png", :size => "100x100") %></td>
		</tr>

		<tr class="table-head" align="center">
		    <td>Order</td>
		    <td>Discuss</td>
		    <td>Cleaning</td>
	  	</tr>
	  	
	  	<tr align="center">
		    <td class="col-md-3">
		    	Send us details about the job you would like done; how many rooms, how frequently, location.
		    </td>
	    
	    	<td class="col-md-3">
	    		A member of our team will get back to as soon as possible with approximate pricing and follow up on any necessary information.
	    	</td>
	    	<td class="col-md-3">
	    		Once the details have been sorted out, the cleaning service begins! Changes and additional requests can be made at any time.
	    	</td>
	 	</tr>
	</table>
</div>

<div class="container" align="center">
	<%= link_to "Contact Us Now!", help_path, class: "btn btn-lg btn-primary" %>
</div>

