<footer class="footer">
  <small>
    Cleaning Site by Lachlan Miller
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", help_path %></li>
    </ul>
  </nav>
</footer>