<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Contact",   help_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </nav>
  </div>
</header>